Flask==1.1.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
Jinja2==2.11.2
matplotlib==3.4.1
numpy==1.18.5
pandas==1.0.5
scipy==1.4.1
seaborn==0.11.1
SQLAlchemy==1.4.13
tensorboard==2.5.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
