<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheets/style.css') }}">

    <title>ECG Classification</title>
  </head>
  <body class="bg" >
    <div>
    	<div class="container">
    		<h1>ECG Classification using Deep Neural Network</h1>

    		<div class="card">
  			<div class="card-header">
    		
						<img class="img1" src="{{ url_for('static', filename='images/ecg.gif') }}">
				
					
  
  			</div>
  			<div class="card-body">
    			<h5 class="card-title">Upload your .csv File here</h5>
    			
    			<form method="POST" enctype="multipart/form-data" >
  					<div class="form-group">
  						<label for="usr" style="font-weight: bold;">Name:</label>
  						<input type="text" class="form-control" id="usr" name="name">
					</div>
					<div class="form-group">
    					<label for="exampleFormControlFile1" style="font-weight: bold;">Upload file here:</label>
    					<input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
  					</div>
  					<div class="form-group">
    					<button type="submit" class="btn btn-primary">Submit</button>
  					</div>
  					
				</form>
  			</div>
			</div>
		</div>
    	</div>
    	
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
